# src/main/resources/application.yml

server:
  port: 8080

spring:
  profiles:
    active: local
  data:
    redis:
      host: localhost
      port: 6379

  application:
    name: CHERRY-BOOKER-SERVICE

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
jwt:
  secret: XN5O5LI97d5qXryKAu5OrnJfAeNYNczeN4X3gGnH2i0=
  access-exp: 500
  refresh-exp: 12000
